<div class="container">
  <h1>Register</h1>
  <hr>
  <form ng-submit="authCtrl.onSubmit()" novalidate>
    <div class="form-group">
      <label for="address.geo.lat"></label>
      <input type="hidden" class="form-control" id="lattitude" value="0" ng-model="authCtrl.newUser.address.geo.lat">
      <label for="address.geo.lng"></label>
      <input type="hidden" class="form-control" id="ddress.geo.lng" value="0" ng-model="authCtrl.newUser.address.geo.lng">
    </div>
    <div class="form-group">
      <label for="dob">Date of Birth</label>
      <input type="date" class="form-control" id="dob" value="1888-08-08" ng-model="authCtrl.newUser.dob">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" value="Ho0dLuM@mail.com" ng-model="authCtrl.newUser.email">
    </div>
    <div class="form-group">
      <label for="names.firstname">First Name</label>
      <input type="text" class="form-control" id="firstName" value="Jh0" ng-model="authCtrl.newUser.names.firstName">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" class="form-control" value="secretPass" ng-model="authCtrl.newUser.password">
    </div>
      <input type="hidden" id="slug" class="form-control">
    <div class="form-group" ng-model="authCtrl.newUser.slug">
      <label for="username">Username</label>
      <input type="text" id="username" class="form-control" value="Ho0dluM" ng-model="authCtrl.newUser.username">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
